<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>MERCADO LIEBRE</title>
    <link rel="stylesheet" href="/stylesheets/style1.css">
</head>
<body>
    <header>
        <div class="seccion-superior">
            <div class="container-logo-barra">
                <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre.svg" id="img-logo">
                <input type="text" id="barra-busqueda" name="barra-busqueda" placeholder="Buscar productos,marcas">                
                <label for="barra-busqueda"><i class="fa fa-search" id="label-busqueda"></i></label> 
            </div>
            <div class="p-logo">
                <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas de credito</p>
            </div>   

            <div class="menu-button">
                <i class="fas fa-bars"></i>
            </div> 
        </div>   
            <div class="nav">
                <ul class="first-row">
                    <li>
                        <a href="">Ofertas</a>
                    </li>
                    <li>
                        <a href="">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="">Vender</a>
                    </li>
                    <li>
                        <a href="">Ayuda</a>
                    </li>
                </ul>
                <ul class="second-row">
                    <li>
                        <a href="/registro">Crea tu cuenta <i class="far fa-id-card"></i></a>
                    </li>
                    <li>
                        <a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
        </div>
    </header>

    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="img-home-banner" class="img-producto">
    </div>

    <main>
        <h1 class="titulares">Basado en tu ultima visita </h1>
            <section class="seccion-articulos">
                <article class="ultimas-visitas">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" class="img-producto">
                    <div class="una-caja">
                        <i class="fas fa-truck" id="iconito-verde"></i>                   
                            <div class="parrafo-articulo">
                                <p class="precios">$6.770</p>
                                <p class="descuentos">40% off</p>
                            </div>       
                        <h2 class="article-description">Cafetera Moulinex Dolce Gusto</h2>
                    </div>
                </article>
                <article class="ultimas-visitas">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" class="img-producto">
                    
                    <div class="una-caja">
                        <i class="fas fa-truck" id="iconito-verde"></i>
                            <div class="parrafo-articulo">
                                <p class="precios">$70.500</p>
                                <p class="descuentos">15% OFF</p>
                            </div>
                        <h2 class="article-description">Teléfono móvil Samsung Galaxy S10</h2>
                    </div>   
                </article>
                <article class="ultimas-visitas">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" class="img-producto">
                    
                    <div class="una-caja">
                        <i class="fas fa-truck" id="iconito-verde"></i>
                            <div class="parrafo-articulo">
                                <p class="precios">$230.000</p>
                                <p class="descuentos">20% off</p>
                            </div>
                        <h2 class="article-description">Macbook Pro 2019</h2>
                    </div>
                </article>
                    
                <article class="ultimas-visitas">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="" class="img-producto">
                    
                    <div class="una-caja">
                        <i class="fas fa-truck" id="iconito-verde"></i>
                            <div class="parrafo-articulo">
                                <p class="precios">$34.000</p>
                                <p class="descuentos">5% OFF</p>
                            </div>
                        <h2 class="article-description">SmartTv Samsung 43"</h2>
                    </div>
                </article>           
            </section>

        <h1 class="titulares">Ofertas </h1>
            <section class="seccion-articulos">
                <article class="on-sale">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" class="img-producto">
                    
                    <div class="una-caja">
                        <i class="fas fa-truck" id="iconito-verde"></i>                        
                            <div class="parrafo-articulo">
                                <p class="precios">$6.770</p>
                                <p class="descuentos">40% off</p>
                            </div>
                        <h2 class="article-description">Cafetera Moulinex Dolce Gusto </h2>
                    </div>
                </article>
                <article class="on-sale">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" class="img-producto">
                    
                    <div class="una-caja">
                        <i class="fas fa-truck" id="iconito-verde"></i>                       
                            <div class="parrafo-articulo">
                                <p class="precios">$230.000</p>
                                <p class="descuentos">20% off</p>
                            </div>                   
                        <h2 class="article-description">Macbook Pro 2019 </h2>
                    </div>
                </article>
                <article class="on-sale">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" class="img-producto">
                    
                    <div class="una-caja">
                        <i class="fas fa-truck" id="iconito-verde"></i>                        
                            <div class="parrafo-articulo">
                                <p class="precios">$70.500</p>
                                <p class="descuentos">15% OFF</p>
                            </div>
                        <h2 class="article-description">Teléfono móvil Samsung Galaxy S10 </h2>
                    </div>
                </article>
                <article class="on-sale">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="" class="img-producto">
                    
                    <div class="una-caja">
                        <i class="fas fa-truck" id="iconito-verde"></i>
                            <div class="parrafo-articulo">
                                <p class="precios">$34.000</p>
                                <p class="descuentos">5% OFF</p>
                            </div>
                        <h2 class="article-description">SmartTv Samsung 43"</h2>
                    </div>
                </article>
            </section>
    </main>

    <footer>
        <div class="footer-container">
            <article class="articulo-footer">
                <i class="far fa-credit-card" id="iconito-azul"></i>
                <h5 class="descripciones">Pagá con tarjeta o en efectivo</i></h5>
                <p class="pfooter">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                    pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="articulo-footer">
                <i class="fas fa-gift" id="iconito-azul"></i>    
                <h5 class="descripciones">Envío gratis desde los $ 2.500</h5>
                <p class="pfooter">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                    productos. Es un beneficio de MercadoPuntos.</p>
            </article>
            <article class="articulo-footer">
                <i class="fas fa-user-shield" id="iconito-azul"></i>
                <h5 class="descripciones">Seguridad, de principio a fin</h5>
                <p class="pfooter">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                    porque estás siempre prtegid@.</p>
            </article>
        </div>
            <div class="copyright">
                <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
            </div>
    </footer>
</body>
</html>