<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>REGISTRO</title>
    <link rel="stylesheet" href="/stylesheets/style1.css">
</head>
<body>
    <header>
        <div class="seccion-superior">
            <div class="container-logo-barra">
                <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre.svg" id="img-logo">
                <input type="text" id="barra-busqueda" name="barra-busqueda" placeholder="Buscar productos,marcas">                
                <label for="barra-busqueda"><i class="fa fa-search" id="label-busqueda"></i></label> 
            </div>
            <div class="p-logo">
                <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas de credito</p>
            </div>   

            <div class="menu-button">
                <i class="fas fa-bars"></i>
            </div> 
        </div>   
            <div class="nav">
                <ul class="first-row">
                    <li>
                        <a href="">Ofertas</a>
                    </li>
                    <li>
                        <a href="">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="">Vender</a>
                    </li>
                    <li>
                        <a href="">Ayuda</a>
                    </li>
                </ul>
                <ul class="second-row">
                    <li>
                        <a href="/registro">Crea tu cuenta <i class="far fa-id-card"></i></a>
                    </li>
                    <li>
                        <a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li>
                        <a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
        </div>
    </header>

    <form action="#" method="GET" id="form-registro">
        <div class="inputs-registro">
            <input type="text" name="nombre y apellido" id="nombre y apellido" class="input" placeholder="Nombre y apellido">
            <input type="text" name="nombre de usuario" id="nombre de usuario" class="input" placeholder="Nombre de usuario">
            <input type="email" name="email" id="email" class="input" placeholder="E-mail">
            <label for="date">Fecha de nacimiento</label>
            <input type="date" name="fecha" class="input" id="fecha">
            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
        </div>

        <div class="container-registro">
            <h2>Perfil del usuario</h2><br>
            <div class="perfil-del-usuario">
                <input type="radio" name="perfil-usuario" id="Comprador" value="Comprador">
                <label for="Comprador">Comprador</label>
                <input type="radio" name="perfil-usuario" id="Vendedor" value="Vendedor">
                <label for="Vendedor">Vendedor</label>
            </div>

            <br><h2>Intereses</h2><br>
            <div class="intereses">
                <div class="individual-checkbox">
                    <input type="checkbox" name="electro" id="electro" value="Electro">
                    <label for="electro">Electro</label>
                </div>
                <div class="individual-checkbox">
                    <input type="checkbox" name="moda" id="moda" value="Moda">
                    <label for="moda">Moda</label>
                </div>
                <div class="individual-checkbox">
                    <input type="checkbox" name="hogar" id="hogar" value="Hogar">
                    <label for="hogar">Moda</label>
                </div>
                <div class="individual-checkbox">
                    <input type="checkbox" name="jugueteria" id="jugueteria" value="Jugueteria">
                    <label for="jugueteria">Jugueteria</label>
                </div>
                <div class="individual-checkbox" id="ultimo-checkbox">
                    <input type="checkbox" name="vida sana" id="vida sana" value="Vida sana">
                    <label for="vida sana">Vida sana</label>
                </div>
            </div>

            <br><h2>Elegi tu foto de usuario</h2><br>
            <div class="foto-usuario">
                <input type="submit" name="foto-usuario" id="foto-usuario" value="Seleccionar archivo">
                <label for="foto-usuario">No se eligio archivo</label>
            </div>
        </div>

        <div class="inputs-registro">
            <input type="password" name="password" class="input" placeholder="Elegi tu contraseña">
            <input type="password" name="re-password" class="input" placeholder="Confirma tu contraseña">
            <input type="submit" class="input" id="enviar-registro" value="Enviar">
            <input type="submit" class="input" id="borrar-registro" value="Borrar">
        </div>
    </form>

    <footer>
        <div class="footer-container">
            <article class="articulo-footer">
                <i class="far fa-credit-card" id="iconito-azul"></i>
                <h5 class="descripciones">Pagá con tarjeta o en efectivo</i></h5>
                <p class="pfooter">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                    pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="articulo-footer">
                <i class="fas fa-gift" id="iconito-azul"></i>    
                <h5 class="descripciones">Envío gratis desde los $ 2.500</h5>
                <p class="pfooter">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                    productos. Es un beneficio de MercadoPuntos.</p>
            </article>
            <article class="articulo-footer">
                <i class="fas fa-user-shield" id="iconito-azul"></i>
                <h5 class="descripciones">Seguridad, de principio a fin</h5>
                <p class="pfooter">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                    porque estás siempre prtegid@.</p>
            </article>
        </div>
            <div class="copyright">
                <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
            </div>
    </footer>
</body>
</html>